* {
    margin: 0;
    padding: 0;
}


#search {
    border-radius: 4vmin;
    width: 221px;
    height: 31px;
}

.logo1 {
    display: flex;
    justify-content: center;
    width: 36px;
    height: 35px;
    border-radius: 24px;
    margin-top: 0px;

}

.logo {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 36px;
    height: 35px;
    margin: right 12px;
    ;
}

.diya {
    border-radius: 20px;
}

.navbar {
    background-color: rgbrgb(39 39 132);

}

#search {
    width: 225px;
    height: 28px;
    margin: auto;
}

#btn {
    width: 80px;
    height: 28px;
    margin: auto;
    text-align: center;
}

#login {
    border-radius: 4vmin;
}

.carousel-item {
    margin: auto;
    width: 508px;
    height: 50vw;
}

#dropdown {
    background-color: rgbrgb(39 39 132);;

}

.footertext {
    text-align: center;
     
}

body{
    background-color: black;
}
footer{
    background-color: #201f21;
    color: #fff;
    padding: 30px 0;
    font-family:"montserrat", monospace;
    font-weight: bold;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;

}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4{
    flex: 0 0 30%;
    max-width: 30%;
    text-align: center;
}

h3{
    margin-bottom: 15px;
    color: #DF00ff;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    margin-bottom: 10px;
}

.social-icons li{
    display: inline-block;
    margin-right: 10px;

}

.social-icons li a{
    color: #fff;
    font-size: 30px;
}

span{
    display: flex;
    justify-content: center;
    color: rgb(69, 69, 229);
}

@media (max-width: 991px){
    .col-md-4{
        flex: 0 0 50%;
        max-width: 50%;

    }
}

@media (max-width: 767px){
    .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;

    }
}
